/* Using Google Font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Shared Styles Start From Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

.primary-color {
  color: #ff5400;
}

.secondary-color {
  color: #131318;
}

.additional-color1 {
  color: #5a5a5d;
}

.btn-primary {
  border-radius: 8px;
  background-color: #ff5400;
  padding: 15px 35px;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
/* Shared Styles End Here */

/* Header Section Style Start From Here */
header {
  max-width: 1170px;
  margin: 0 auto;
}

/* Nav Section Style Start From Here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  cursor: pointer;
}

.nav-left-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 42%;
}

.nav-left-container img {
  width: 56px;
}

.nav-title {
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-right-container {
  width: 60%;
}

.nav-right-contents {
  display: flex;
  justify-content: space-evenly;
}

.nav-right-container a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

#active-button {
  font-weight: 700;
  color: #ff5400;
}

.nav-right-container .hamburger-bars {
  display: none;
}
/* Nav Section Style End Here */

/* Banner Section Style Start From Here */
.banner-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/2.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 106px 0;
  margin: 0px 20px;
}

.banner-contents {
  max-width: 600px;
  margin: 0 auto;
}

.banner-title {
  text-align: center;
  color: #fff;
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.banner-inputs {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.banner-inputs > input {
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
}
/* Banner Section Style End Here */
/* Header Section Style End Here */

/* Main Section Style Start From Here */
main {
  max-width: 1170px;
  margin: 0 auto;
}
/* Popular Tour Section Start From Here */
.popular-tours {
  margin: 100px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.popular-tours-contents {
  width: 50%;
}
.popular-tours-contents > ul {
  margin-left: 15px;
  margin-top: 24px;
}
.popular-tours-contents > ul > li {
  margin-bottom: 12px;
}
.popular-tours-bottom-contents {
  margin-top: 8px;
  margin-bottom: 32px;
}
.popular-tours-img {
  width: 50%;
}
.popular-tours-img img {
  max-width: 100%;
}
/* Popular Tour Section End Here */
/* Main Section Style End Here */
