/* Small Device Responsive */
@media screen and (max-width: 600px) {
  /* Shared Style Start From Here */
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .section-description {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
  }
  /* Shared Style End Here */

  /* Nav Section Style Start From Here */
  nav {
    margin: 20px;
  }
  .nav-title {
    font-size: 1.5rem;
  }
  .nav-left-container {
    width: 75%;
  }
  .nav-left-container img {
    width: 33px;
  }
  .nav-right-container {
    width: 25%;
  }
  .nav-right-container .nav-right-contents {
    display: none;
  }
  .nav-right-container .hamburger-bars {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }
  /* Nav Section Style End Here */

  /* Banner Section Style Start From Here */
  .banner-container {
    padding: 32px 10px;
  }
  .banner-contents {
    text-align: center;
  }
  .banner-title {
    font-size: 1.4rem;
    margin-bottom: 16px;
  }
  .banner-description {
    font-size: 0.9rem;
    margin-bottom: 32px;
  }
  .banner-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  /* Banner Section Style End Here */

  /* Popular Tour Section Start From Here */
  .popular-tours {
    margin: 24px 20px;
    flex-direction: column;
  }
  .popular-tours-contents {
    width: 100%;
  }
  .popular-tours-contents > ul {
    margin-top: 16px;
  }
  .popular-tours-contents > ul > li {
    margin-bottom: 16px;
  }
  .popular-tours-bottom-contents {
    margin-bottom: 24px;
  }
  .popular-tours-img {
    width: 100%;
  }
  /* Popular Tour Section End Here */
}
