/* Small Device Responsive */
@media screen and (max-width: 600px) {
  /* Nav Section Style Start From Here */
  nav {
    margin: 20px;
  }
  .nav-title {
    font-size: 1.5rem;
  }
  .nav-left-container {
    width: 75%;
  }
  .nav-left-container img {
    width: 33px;
  }
  .nav-right-container {
    width: 25%;
  }
  .nav-right-container .nav-right-contents {
    display: none;
  }
  .nav-right-container .hamburger-bars {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }
  /* Nav Section Style End Here */

  /* Banner Section Style Start From Here */
  .banner-container {
    padding: 32px 10px;
  }
  .banner-contents {
    text-align: center;
  }
  .banner-title {
    font-size: 1.4rem;
    margin-bottom: 16px;
  }
  .banner-description {
    font-size: 0.9rem;
    margin-bottom: 32px;
  }
  .banner-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  /* Banner Section Style End Here */
}
